<ion-view title="Todos Pedidos" id="page11" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list id="parties-list3" class=" ">
            <div class="row" id="divFilter">
              <div class="col list list-inset">
                <label class="item item-input">
                  <i class="icon ion-search placeholder-icon"></i>
                  <input type="text" placeholder="Search" ng-model="search" ng-change="filter()" class="filter" />
                </label>
              </div>
              <div class="col col-center text-right">Showing {{ filtered.length }} of {{ totalItems}}</div>
            </div>
            <ion-item ng-repeat="order in filtered = (orders | filter: search | orderBy : predicate)" ng-click="setDetails(order)" ng-show="filtered.length > 0" ng-class="{ used : order.used == 1, valid : order.used == 0}">
              <i class="ion-calendar"></i> {{order.date}}<br />
              <i class="ion-cash"></i><b> R$ {{order.price}}</b><br />
              {{order.barcode}}
            </ion-item>
            <ion-item ng-show="filtered.length == 0">
                <h4 class="text-center">Nenhum pedido encontrado</h4>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>